html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
body, .form_info, label, .row, .right_side {
    display: flex;
}

.right_side, .form_info, label {
    flex-direction: column;
}

body {
    margin: 0;
    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
}

.right_side {
    gap: 50px;
}

header {
    padding: 40px;
    padding-top: 120px;
}

input:focus {
    border: lightskyblue 1px solid;
    box-shadow: inset;
}

h3 {
    margin: 0;
    font-weight: 0;
}

a {
    background-color: transparent;
}

img {
    height: 100vh;
}

label {
    font-size: 0.75rem;
}

.form_info {
    padding: 15px 20px;
    gap: 16px;
    background-color: white;
    box-shadow: 3px 3px 3px #888888;
}

.row {
    gap: 24px;
}