html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
body, .form_info, label, .row, .right_side {
    display: flex;
}

.right_side, .form_info, label {
    flex-direction: column;
}

body {
    margin: 0;
    background-color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
}

.left_side {
    position: relative;
}

.logo {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    color: white;
    width: 654px;
    height: 18vh;
    top: 20px;
    text-align: center;
    line-height: 11rem;
    font-size: 5rem;
}

.image_logo {
    position: absolute;
    top: 35px;
    left: 105px;
    height: 15vh;
}

.right_side {
    gap: 30px;
}

header {
    padding: 40px;
    padding-top: 120px;
}

input {
    border: #E5E7EB 1px solid;
    border-radius: 7px;
    height: 20px;
}

input:focus {
    background-color: rgb(178, 222, 250);
    box-shadow: 2px 2px 2px #888888;
}

h3 {
    margin: 0;
    font-weight: 0;
}

p.caption>a {
    color: white;
}

img {
    height: 100vh;
}

label {
    font-size: 0.75rem;
}

.form_info {
    padding: 15px 20px;
    gap: 16px;
    background-color: white;
    box-shadow: 3px 3px 3px #888888;
}

button {
    background-color: #596D48;
    color: white;
    padding: 15px 65px;
    margin: 40px 50px 0px;
    border-radius: 7px;
    border: 0px;
    box-shadow: 3px 3px 3px #888888;
}

.row {
    gap: 30px;
}

p {
    margin-left: 50px;
    background-color: transparent;
}

.caption {
    position: absolute;
    color: white;
    bottom: -5px;
    left: 130px;
}
